<h1>about</h1>
<p>celebrity sightings. with ice cream.</p>
<img class="img-rounded img-responsive" src="http://i.perezhilton.com/wp-content/uploads/2014/01/miley-cyrus-ice-cream-twitter-selfie__oPt.jpg"/>

