
<p class="huge-title">Celebrities. With ice cream.</p>
<div class="center">
<img class="img-rounded img-responsive" src="http://i.perezhilton.com/wp-content/uploads/2014/01/miley-cyrus-ice-cream-twitter-selfie__oPt.jpg"/>
</div>
