
<div class="jumbotron center center-block">
  <div>
    <h1>mmm!</h1>
    <% if user_signed_in? %>
          # do something
    <% else %>
      <img class="img-rounded img-responsive" src="http://buzzworthy.mtv.com//wp-content/uploads/buzz/2013/10/miley-icecream1.gif"/>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>   
    <% end %>    
  </div>

</div>